.llogo {
  width: 450px;
  height: 450px;
  padding: 36px 38px;
}

.material-icons:hover {
  transform: rotate(360deg);
}

.material-icons {
  color: aqua;
  font-size: 30px;
  transition: transform 1s ease-in-out;
}

.circle {
  width: 108px;
  height: 93px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: aqua;
}

/* 2 columns */
.column {
  float: left;
  width: 50%;
  text-align: center;
}

/* 3 columns */

.column3 {
  float: left;
  width: 33.3%;
  text-align: center;
  background-color: blue;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1100px) {
  .column {
    width: 100%;
  }
}

h3 {
  font-family: Poppins;
}

p {
  font-family: Poppins;
}

.MyInfo {
  display: table;
  text-align: center;
  font-family: Poppins; 
  color: pink;
  margin: 0 auto;
  padding: 12px 14px; 
}

.ClickHide {
 display: none;
 text-align: center;
}

.topnav a#myresume:hover {
  color: lime;
}
.topnav a#linkedinprof:hover {
  color: aqua;
}

/* Navigation Bar */

.topnav {
  background-color: black;
  overflow: hidden;
  text-align: center;
}

.topnav a {
  font-family: Poppins;
  float: left;
  color: white;  
  font-size: 20px;
  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  text-decoration: none;
  text-align: center;
}

.topnav a.split {  
  float: right;
  padding: 0px;
  margin-right: 18px;
  text-align: center;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0064FF; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: aqua; 
}
.skills {
  display: inline-block; 
  overflow: hidden; 
  background-color:gray; 
  padding-bottom: 10px;
  cursor: pointer;
}
.blackborder {
  border: solid 5px aqua;
  border-radius: 8px;
  background-color: inherit;
}
.specskill {
  font-size: 20px; 
  font-weight: bold; 
  color: lime; 
  text-align: center; 
  word-wrap: break-word;
  position: relative;
  top: 0px;
}
.bottomskill {
  font-size: 20px; 
  font-weight: bold; 
  color: pink; 
  text-align: center; 
  word-wrap: break-word;
  position: relative;
  top: 15px;
}
.skillsset {
font-size: 20px; 
font-weight: bold; 
color: white; 
text-align: center; 
word-wrap: break-word;
position: relative;
top: 0px;
}
